<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="65327Damicolo.DisneyCarsCrazyRaceHD" Version="1.0.0.1" Publisher="CN=5A1FFCCB-EFDB-4765-90AB-504BA4BBD8CD" />
  <Properties>
    <DisplayName>Disney Cars Crazy Race HD</DisplayName>
    <Description>Disney Cars Crazy Race</Description>
    <PublisherDisplayName>Damicolo</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Disney Cars Crazy Race HD" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Disney Cars Crazy Race" ForegroundText="light" BackgroundColor="#AF3437">
        <DefaultTile ShowName="allLogos" ShortName="Cars Crazy Race" WideLogo="Assets\Icon310.png" />
        <SplashScreen Image="splashscreen.png" BackgroundColor="#AF3437" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>